html, body{
    width:100%;
    overflow-y:hidden;
    overflow-x:hidden;
}

.navbar{
    box-shadow: 0px 2px 2px lightgrey;
}

.mtop{
    margin-top: 70px;
}

.mleft{
    margin-left: 20px;
}

@media (max-width: 640px) {
    .contactlist{
        display:none;
    }

    .chat-body{
        position: static;
    }

    .navbar-brand{
        display:none;
    }
}

@media (min-width: 640px) {
    .chat-body{
        position:absolute;
        bottom:0;
        right:0;
        height:100%;
    }
}

.chat-body-inner{
    position:absolute;
    width:98%;
    bottom:30px;
}

.chat-message{
    position:absolute;
    width:98%;
    bottom:180px;
}

#contactlist{
    position:fixed;
    width: 24%;
    height: 90%; 
    max-height: 90%; 
    overflow-y: auto;
    overflow-x: hidden;
}